<div class="container">
  <div class="card">
    <!-- Card Image -->
    <div class="card-img">
    </div>
    <!-- Card Content -->
    <div class="text-content">
      <!-- Title -->
      <div class="text-content__title">
        <h1>Simple Omelette Recipe</h1>
        <p> An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to
          perfection, optionally filled with your choice of cheese, vegetables, or meats.</p>
      </div>

      <!-- Preparation -->
      <div class="preparation">
        <h3>Preparation Time</h3>
        <ul>
          <li *ngFor="let p of preparation">
            {{ p }}
          </li>
        </ul>
      </div>

      <!-- Ingredients -->
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li *ngFor="let i of ingredients">
            {{ i }}
          </li>
        </ul>
        <hr>
      </div>

      <!-- Instructions -->
      <div class="instructions">
        <h3> Instructions</h3>
        <ul>
          <li *ngFor="let i of textResult">
            <b>{{ i[0] }}</b>: {{ i[1] }}
          </li>
        </ul>
        <hr>
      </div>

      <!-- Nutrition -->
      <div class="nutritions">
        <h3>Nutrition </h3>
        <p>The table below shows nutritional values per serving without the additional fillings.</p>
        <div *ngFor="let n of nutrition">
          <span class="label">{{ n.label }}</span>
          <span class="value">{{ n.value }}</span>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>